@import url("../../.cache/wal/colors-waybar.css");

* {
  all: unset;
  background-image: none;
  box-shadow: none;
  margin: unset;
  padding: unset;
  transition: 200ms cubic-bezier(0, 0, 1, 1);
}

window {
  font-family: "JetBrainsMono Nerd Font Mono", "FiraCode Nerd Font", monospace;
  font-weight: 600;
  font-size: 1rem;
}

button {
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 2rem;
  background-color: alpha(@color9, 1);
  background-size: 3rem;
  background-repeat: no-repeat;
  background-position: center;
}

button:focus,
button:active,
button:hover {
  background-color: rgba(49, 47, 47, 0.5);
  border-radius: 4rem;
}

#lock {
  background-image: image(url("./icons/lock.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}

#suspend {
  background-image: image(url("./icons/suspend.png"));
}

#reboot {
  background-image: image(url("./icons/reboot.png"));
}
